/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

table {
  @apply w-full;
  thead tr {
    @apply bg-grayf3;
  }
  tbody tr {
    @apply border-b border-b-grayf3;
  }
  td,
  th {
    @apply align-middle p-3 text-left text-sm whitespace-nowrap;
  }
  th {
    @apply font-medium;
  }
}

@media screen and (min-width: 1024px) {
  .table-admin {
    tr {
      display: grid;
      grid-template-columns: 10% 30% 10% 15% 20% 15%;
    }
    th,
    td {
      display: grid;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .table-admin {
    @apply border-separate;
    border-spacing: 0;
    td:first-child,
    th:first-child {
      @apply sticky top-0 z-10 left-0 border-r border-r-grayf3;
      min-width: 150px;
    }
    td:first-child {
      @apply bg-white;
    }
    th:first-child {
      @apply bg-grayf3;
    }
    th,
    td {
      @apply border-b border-b-grayf3;
    }
  }
}

.pagination {
  display: flex;
  box-shadow: 0 10px 20px 0 rgba(black, 0.25);
  li {
    // background-color: #e2e4ec;
    color: #202435;
    padding: 6px 12px;
    border: 1px solid #d9d9e9;
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: rgba(white, 0.25);
      color: #1dc071;
    }
  }
  .selected {
    @apply text-primary;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.overflow {
  overflow: hidden;
  transition: all 0.3s linear;
}

// Scroll
.scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c2c2d3;
  border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #6f49fd;
}

input[type="file"] {
  display: none;
}
